[run]
omit =
    benchmarks
    examples
    sisl/tests/*
    sisl/*/tests/*
    */__config__.py
    */setup.py
    */conftest.py
    sisl/utils/sdata.py

[report]
exclude_lines =
    # Don't complain about missing implementations
    raise NotImplementedError
