[run]
omit =
    benchmarks
    examples
    sisl/*/tests/*
    */__config__.py
    */setup.py

[report]
exclude_lines =
    # Don't complain about missing implementations
    raise NotImplementedError
