__pycache__
.eggs
.pytest_cache
dist
build
*.pyc
*.so
*.c
__config__.py
docs/build
docs/sisl
sisl.egg-info
sisl/info.py
sisl/io/siesta/_siesta.so
sisl/**/*.html
!sisl/viz/GUI/build
!sisl/viz/GUI/build/index.html
.vscode/
.ipynb_checkpoints/
