[submodule "files"]
	path = files
	url = https://github.com/zerothi/sisl-files.git
[submodule "sislGUI-build"]
	path = sisl/viz/plotly/gui/build
	url = https://github.com/pfebrer/sislGUI.git
	branch = build
