# Prevent git from showing duplicate names with commands like "git shortlog"
# See the manpage of git-shortlog for details.
# The syntax is:
# Name that should be used <email that should be used> Bad name <bad email>
#
# You can skip Bad name if it is the same as the one that should be used, and is unique.
#
# This file is up-to-date if the command git log --format="%aN <%aE>" | sort -u
# gives no duplicates.

A.H. Kole <a.h.kole@uu.nl>
Jonas Lundholm Bertelsen <drixi.b@gmail.com>
Jonas Lundholm Bertelsen <drixi.b@gmail.com> Jonas L. B
Jonas Lundholm Bertelsen <drixi.b@gmail.com> Jonas Lundholm Bertelsen <jolub@nanotech.dtu.dk>
Nick Papior <nickpapior@gmail.com>
Nick Papior <nickpapior@gmail.com> Nick Papior Andersen
Nick Papior <nickpapior@gmail.com> Nick R. Papior
Pol Febrer Calabozo <pfebrer96@gmail.com>
Pol Febrer Calabozo <pfebrer96@gmail.com> pfebrer <42074085+pfebrer@users.noreply.github.com>
Pol Febrer Calabozo <pfebrer96@gmail.com> pfebrer96 <42074085+pfebrer96@users.noreply.github.com>
Pol Febrer Calabozo <pfebrer96@gmail.com> Pol
Pol Febrer Calabozo <pfebrer96@gmail.com> Pol Febrer
Sofia Sanz Wuhl <sofiasw2@gmail.com>
Sofia Sanz Wuhl <sofiasw2@gmail.com> Sofia Sanz <sofiasw2@gmail.com>
Thomas Frederiksen <thomas_frederiksen@ehu.eus>
