include MANIFEST.in
include LICENSE
include CHANGELOG
include README.md
include setup.py
include pyproject.toml

graft doc

graft sisl

include sisl/info.py

recursive-include toolbox *.py *.md README

exclude DEPLOY.md
global-exclude *.html
global-exclude *.sh
global-exclude .git*
global-exclude *.so
global-exclude *.pyc

prune .github
prune benchmarks
prune deprecated
prune developments
prune ci
prune files
prune __pycache__
