numpy>=1.13
scipy>=1.5.0
netCDF4
pyparsing>=1.5.7
matplotlib
ipykernel
nbsphinx
dill>=0.3.2
pathos
xarray>=0.10.0
scikit-image
plotly>=5.12.0
sphinx-gallery
sphinx-rtd-theme
sphinx-autodoc-typehints
sphinx-inline-tabs
sphinxcontrib-bibtex
tqdm
ipywidgets
jupyterlab-widgets
kaleido
# Visualizing nodes
networkx
pyvis
